:root {
  --secondary: #162d4d;
  --primary: #456389;
  --third: #287078;
  --forth: #f2acb9;
  --black: #260101;
  --dark: #555555;
  --white: #f0f2f1;
}

body {
  background: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

label {
  color: var(--third);
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: var(--white);
}

nav#nav-home {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1,
nav .brand-logo,
nav i {
  color: var(--primary);
}

a:hover,
.blog-listing p a:hover {
  color: var(--secondary);
}

a.brand-logo:hover {
  color: var(--primary);
}

p {
  max-width: 900px;
}

footer {
  margin-top: 100px;
}
h1 {
  font-size: 2rem;
  margin: 50px 0;
  font-weight: 200;
}

h2 {
  color: var(--third);
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 0;
}

h2 a {
  color: var(--primary);
}

h3 {
  color: var(--blue);
  margin: 0;
}

h1 + h5 {
  margin-top: -40px;
}

h4 {
  color: var(--secondary);
  font-size: 1.4rem;
}

h5,
h5 a {
  color: var(--secondary);
  font-size: 1.25rem;
}

h5 a:hover {
  color: var(--primary);
}

li img {
  position: relative;
  left: 10px;
  top: 10px;
}

section#home-hero {
  background-color: var(--secondary);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 44, 1) 0%,
    rgba(22, 45, 77, 1) 30%,
    rgb(84, 104, 133) 55%,
    rgba(255, 255, 255, 1) 80%
  );

  padding-bottom: 1px;
  margin-bottom: 50px;
}

[type="checkbox"] + span:not(.lever):before {
  border: 2px solid #5a5a5a !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid var(--primary) !important;
  border-bottom: 1px solid var(--primary) !important;
}

.center-div {
  display: flex;
  justify-content: center;
}

.hljs {
  background: #dddddd;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--primary);
}

#alert {
  color: var(--third);
}

.blog-listing {
  padding: 40px 0;
  max-width: 620px;
}

.blog-listing p a {
  color: var(--third);
}

.blog-listing:not(:last-of-type) {
  border-bottom: 1px solid var(--forth);
}

.blog-listing h2 a {
  line-height: 2rem;
}

.blog-post {
  max-width: 720px;
}

.blog-post h1 {
  margin: 20px 0 10px 0;
}

.blog-post-body,
.blog-post h2 {
  margin-top: 50px;
}

.blog-post h5 {
  margin-top: 50px;
}

.blog-post p,
.blog-post li,
.blog-listing p {
  font-size: 1.1rem;
}

.blog-post .lead {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  color: white;
  background: #260101;
  padding: 10px;
  text-align: center;
}

.btn {
  background-color: var(--secondary);
}

.btn:hover {
  background-color: var(--forth);
}

.chip {
  background-color: var(--primary);
  color: var(--white);
}

.col-r {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
}

.collection-header,
.collection-item {
  background-color: transparent !important;
  color: var(--primary) !important;
  font-size: 0.9rem !important;
}

.container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-row {
  margin: 0 0 40px 0 !important;
}

.filter-row > .col.s3 {
  background-color: white;
}

.filter-row input {
  box-sizing: border-box;
  text-overflow: ellipsis !important;
}

.filter-row .caret {
  right: -10px;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  max-width: 400px;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
textarea:not(.browser-default):focus:not([readonly]) + label {
  color: var(--third);
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--third);
  box-shadow: none;
}

.lead {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.muted {
  color: var(--third);
  font-size: 0.85rem;
  line-height: 1rem;
}

.page-footer {
  padding: 10px 0;
  background-color: var(--dark);
}

.row {
  margin: 100px 0;
}

.top-image {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.summary h2 {
  color: white;
}

.summary p {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}

.techs {
  background-color: var(--white);
}

.techs .card-title {
  color: var(--third);
}

.testimonial.card {
  background-color: var(--primary);
  font-size: 85%;
}

.testimonial.card .card-action {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0;
}

.testimonial.card .card-action p {
  color: white;
  font-size: 100%;
  margin: 0;
}

.testimonial.card .card-content {
  height: 90px;
}

.testimonial.card .card-content p {
  font-style: italic;
}

.testimonial-row {
  margin: 40px 0;
}

.text-white {
  color: white;
}

.upworkreviews-row {
  margin: -30px 0 60px 0;
  font-size: 75%;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30px;
  top: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: var(--white);
  color: var(--third);
  font-size: 0.8rem;
  width: 55px;
}

@media only screen and (max-width: 1112px) {
  .testimonial.card .card-content {
    height: 110px;
  }
}
