body {
  background: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #ffffff;
}

nav a,
nav .brand-logo,
nav i {
  color: #333355;
}

p {
  max-width: 900px;
}

footer {
  margin-top: 100px;
}
h1 {
  color: #666;
  font-size: 2.5rem;
  margin: 50px 0;
}

h2 {
  color: #777;
  font-size: 2rem;
  margin-top: 0;
}

h3 {
  color: #835d5e;
  margin: 0;
}

h1 + h5 {
  margin-top: -40px;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  color: #835d5e;
  font-size: 1.25rem;
}

li img {
  position: relative;
  left: 10px;
  top: 10px;
}

[type='checkbox'] + span:not(.lever):before {
  border: 2px solid #5a5a5a !important;
}

[type='checkbox']:checked + span:not(.lever):before {
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid #f50057 !important;
  border-bottom: 1px solid #f50057 !important;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #f50057;
}

#alert {
  color: #f50057;
}

.col-r {
  display: flex !important;
  justify-content: flex-end !important;
}

.collection-header,
.collection-item {
  background-color: transparent !important;
  color: black !important;
}

.container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-row {
  margin: 0 0 40px 0 !important;
}

.filter-row > .col.s3 {
  background-color: white;
}

.filter-row input {
  box-sizing: border-box;
  text-overflow: ellipsis !important;
}

.filter-row .caret {
  right: -10px;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  max-width: 400px;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
textarea:not(.browser-default):focus:not([readonly]) + label {
  color: #e91e63;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #e91e63;
  box-shadow: none;
}

.lead {
  font-size: 1.2rem;

  margin-bottom: 50px;
}

.col-l .responsive-img,
.col-r .responsive-img {
  max-width: 500px !important;
}

.page-footer {
  background-color: black;
}

.row {
  margin: 150px 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(358, 79%, 68%, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0;
}

.summary h2 {
  color: white;
}

.summary p {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

.collection-item {
  font-size: 0.95rem;
  color: #666;
}
