:root {
  --primary: #6c63ff;
  --primary-old: #456389;
  --primary-lighter: #859bb8;
  --secondary: #3f3d56;
  --secondary-old: #162d4d;
  --grey: #67625e;
  --light-grey: #cacaca;
  --purple: #ce49ff;
  --pink: #ff6584;
  --third: #287078;
  --fourth: #f2acb9;
  --black: #260101;
  --dark: #555555;
  --white: #f0f2f1;
}

body {
  background: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif, Helvetica, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
}

label {
  color: var(--third);
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: var(--light-grey);
}

nav ul a {
  color: var(--secondary);
}

nav#nav-home {
  /* background-color: transparent; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.brand-logo,
.text-in-hero nav i {
  color: var(--primary);
}

a:hover,
.blog-listing p a:hover {
  color: var(--secondary);
}

a.btn:hover,
.btn:focus {
  color: white;
  background-color: var(--secondary);
}

a.brand-logo:hover {
  color: var(--primary);
}

p {
  max-width: 900px;
}

footer {
  margin-top: 100px;
}

footer a,
footer a:hover {
  color: white;
}

h1 {
  font-size: 3rem;
  margin: 50px 0;
  font-weight: 200;
  color: var(--secondary);
}

h2 {
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 0;
}

h2 a {
  color: var(--primary);
}

h3 {
  color: var(--blue);
  margin: 0;
}

h1 + h5 {
  margin-top: -40px;
}

h4 {
  color: var(--secondary);
  font-size: 1.4rem;
}

h5,
h5 a {
  color: var(--secondary);
  font-size: 1.25rem;
}

h5 a:hover {
  color: var(--primary);
}

li img {
  position: relative;
  left: 10px;
  top: 10px;
}

section {
  margin: 0;
  padding: 50px 0;
}

section#home-hero {
  padding: 0 0 20px 0;
  background-color: var(--light-grey);
  /* background: linear-gradient(
    180deg,
    rgba(22, 22, 44, 1) 0%,
    rgba(22, 45, 77, 1) 30%,
    rgb(84, 104, 133) 55%,
    rgba(255, 255, 255, 1) 90%
  ); */
}

section#buy-section,
section.primary {
  background-color: var(--primary);
  margin: 100px 0 0 0;
}

section#buy-section h2,
section.primary h2 {
  color: white;
  text-align: center;
}

section#buy-section h3,
section.primary h3 {
  color: var(--secondary);
  font-size: 300%;
  font-weight: 700;
  text-align: left;
}
section#buy-section .product-info,
section.primary .product-info {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  color: var(--grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section#buy-section .btn-hero-single {
  background-color: var(--secondary) !important;
}

section#buy-section .product-info p {
  text-align: left;
}

section.hero {
  background-color: var(--primary);
}
section.grey {
  background-color: var(--light-grey) !important;
}

section .row {
  margin: 0;
}

strong {
  font-weight: 700 !important;
}

video {
  width: 100%;
}

[type='checkbox'] + span:not(.lever):before {
  border: 2px solid #5a5a5a !important;
}

[type='checkbox']:checked + span:not(.lever):before {
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid var(--primary) !important;
  border-bottom: 1px solid var(--primary) !important;
}

#ben-image {
  box-shadow: none;
  position: relative;
  margin-bottom: -10px;
}

#home-h1-div {
  margin: 80px 0 50px 0;
  border-bottom: 5px solid var(--light-grey);
}

#home-h1-div h1 {
  margin-bottom: 10px;
  color: var(--primary);
}

#lead-div {
  display: flex;
  margin-top: 100px;
  padding: 0 10px;
}

#lead-div .lead {
  color: var(--secondary);
  font-size: 2rem;
  margin-bottom: 30px;
}

.blog-post-hero {
  margin: 0;
}

.center-div {
  display: flex;
  justify-content: center;
}

.hljs {
  background: #dddddd;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--primary);
}

#alert {
  color: var(--third);
}

.blog-listing {
  padding: 40px 0;
  max-width: 620px;
}

.blog-listing a,
.blog-post a {
  color: var(--primary);
}

.blog-listing:not(:last-of-type) {
  border-bottom: 1px solid var(--forth);
}

.blog-listing h2 a {
  line-height: 2rem;
}

.blog-post {
  max-width: 720px;
}

.blog-post h1 {
  font-size: 2rem;
  margin: 20px 0 10px 0;
}

.blog-post-body,
.blog-post h2 {
  margin-top: 50px;
}

.blog-post h3 {
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--primary-lighter);
}

.blog-post h5 {
  margin-top: 50px;
}

.blog-post p,
.blog-post li,
.blog-listing p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  line-height: 2rem;
  font-weight: 400;
}

.blog-post li {
  list-style-type: square !important;
  margin-left: 30px;
}

.blog-post .lead {
  font-size: 1.3rem;
  font-weight: 300;
}

.blog-post .muted {
  color: var(--primary-lighter);
  line-height: 1rem;
}

.btn {
  color: white;
  background-color: var(--primary);
}

.btn:hover {
  background-color: var(--secondary);
}

.btn-hero {
  padding: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-hero-single {
  padding: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hero-single,
.btn-hero-single:hover {
  background-color: var(--purple) !important;
  color: white;
  font-size: 1.2rem;
}

.chip {
  background-color: var(--primary);
  color: var(--white);
}

.card-title-over-image {
  font-size: 30px !important;
}

.col-r {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
}

.collection-header,
.collection-item {
  background-color: transparent !important;
  color: var(--primary) !important;
  font-size: 0.9rem !important;
}

.container {
  width: 85%;
}

.container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-row {
  margin: 0 0 70px 0 !important;
}

.filter-row > .col.s3 {
  background-color: white;
}

.filter-row input {
  box-sizing: border-box;
  text-overflow: ellipsis !important;
}

.filter-row .caret {
  right: -10px;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  max-width: 400px;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.high-level {
  text-align: center;
  margin: auto;
  font-size: 1.4rem;

  color: var(--primary);
}

.horizontal-section .row {
  margin: 20px 0;
}

.info-box {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
}

.info-box .info-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 28px;
}

.info-box .toggle {
  font-size: 150%;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
textarea:not(.browser-default):focus:not([readonly]) + label {
  color: var(--third);
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--third);
  box-shadow: none;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.lead-center {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.mt0 {
  margin-top: 0 !important;
}

.muted {
  color: var(--third);
  font-size: 0.85rem;
  line-height: 1rem;
}

.outer-card-link,
.outer-card-link:hover {
  color: var(--secondary);
}

.page-footer {
  padding: 10px 0;
  background-color: var(--dark);
}

.product-header {
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
}

.product-subheader {
  color: white;
  font-size: 1.3rem;
}

.product-iframe {
  border: 1px solid #eeeeee;
  width: 560px;
  height: 315px;
  margin: auto;
}

.product-ul {
  margin-left: 20px;
}
.product-ul li {
  list-style-type: square !important;
}

.related-cases {
  margin-top: 75px;
}

.related-cases .h5-div {
  margin-bottom: 75px;
}

.row {
  margin: 100px 0;
}

.top-image {
  display: flex;
  justify-content: center;
}

.top-image img {
  border: 1px solid #eeeeee;
  filter: drop-shadow(10px 10px 4px #cccccc);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.summary h2 {
  color: white;
}

.summary p {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}

.techs {
  box-shadow: none;
  text-align: center;
}

.techs .card-title,
.related-cases .title {
  color: var(--primary);
}

.testimonial.card {
  background-color: var(--primary);
}

.testimonial.card .card-action {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0;
}

.testimonial.card .card-action p {
  color: white;
  font-size: 100%;
  margin: 0;
}

.testimonial.card .card-content {
  height: 100px;
}

.testimonial.card .card-content p {
  font-style: italic;
}

.testimonial-row {
  margin: -10px 0 0 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-primary {
  color: var(--primary);
}
.text-white {
  color: white;
}

.upworkreviews-row {
  margin: -30px 0 60px 0;
  font-size: 75%;
}

[data-tooltip] {
  position: relative;
}

/* [data-tooltip]:hover::after {
  content: attr(data-tooltip);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30px;
  top: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: var(--white);
  color: var(--third);
  font-size: 0.8rem;
  width: 55px;
} */

@media only screen and (max-width: 1112px) {
  .testimonial.card .card-content {
    height: 110px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: center;
  }

  .blog-post h1,
  .blog-post h2,
  .blog-post h3,
  .blog-post h4,
  .blog-post h5,
  .blog-post p {
    text-align: left;
  }

  #ben-image {
    display: none;
  }

  a.brand-logo {
    margin: 0 0 0 10px !important;
  }

  .btn-hero-single {
    margin: auto;
  }

  .muted {
    display: flex;
    justify-content: center;
  }

  .mobile-center {
    justify-content: center;
  }

  .product-iframe {
    margin: 20px 100px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  section {
    padding: 30px 0;
  }

  section#buy-section .product-info {
    margin-top: 20px;
  }

  .container {
    width: 95%;
  }
  .high-level {
    font-size: 1.1rem;
  }
  .product-subheader {
    color: white;
    font-size: 1.1rem;
  }
  .product-iframe {
    margin: 20px;
    height: 242px;
    width: 420px;
  }
}
